body {

	background-color: white;
  background-repeat: no-repeat;
  min-height: 100%;
  text-align: center;
  /*color:blue;*/

}

#pictures {

/*  border: 5px solid black;
  border-radius: 20px 10px;*/

}


#titletext {

font-family: Georgia, serif;
font-size: 35px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: underline solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    background-color: green;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);

}

